@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');

body{
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 7px;
    height: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: rgb(77, 75, 75);
  }
  
  ::-webkit-scrollbar-thumb {
    background: rgb(33, 62, 151);
  }

#logo{
    width: 60px;
    height: 55px;
    margin-right: 25px;
}

.nav-link{
    font-weight: 500;
    color: black;
    font-size: 17px;
}

.navbar-brand{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-right: 28%;
}

#stuff>.navbar>.container-fluid{
    z-index: 6;
    text-shadow: 0 0 5px white;
}

@media (max-width:426px){
    .navbar-brand{
        margin-right: 0;
        font-weight: 500;
    }
    #logo{
        margin-right: 0;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Landing Page //////////////////////////////////////////////////////////*/
#landingpg{
    min-height: 100vh;
    background: url(/assets/436964.png) no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    min-width: 95vw;
    z-index: 1;
}

#landingpg>#stuff{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.8),rgba(33, 62, 151, 0.4));
    z-index: 2;
}

span{
    border: 1px solid white;
    border-radius: 5px;
}

#landingpg>#stuff>.container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    min-width: 100vw;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingpg>#stuff>.container>h2{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;
    text-shadow: 0 0 10px black;
}

#landingpg>#stuff>.container p{
    text-shadow: 0 0 10px black;
    color: white;
    margin-bottom: 0;
    font-style: italic;
    font-size: 19px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Filter ////////////////////////////////////////////////////////////////*/
#filter{
    position: sticky;
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    width: 250px;
    top: 25px;
    z-index: 5;
    border-radius: 200px;
    padding: 0;
    background-color: rgb(29, 29, 29);
}

#form{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

#filter>.row{
    border-radius: 200px;
    padding: 0;
    justify-content: center;
    }

select{
    width: 125px;
    background-color: rgb(77, 75, 75);
    color: white;
}    

#row{
width: 150px;
}

    @media (max-width:426px){
        #filter>nav{
           border-radius: 0;
        }
    }    

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Properties ////////////////////////////////////////////////////////////////*/
#properties{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 25px;
    margin: 35px 35px 35px 35px;
}

.card p{
    margin-bottom: 0;
    border-radius: 0;
}

.card{
    margin-top: 50px;
    height: 450px;
    width: 20em;
    box-shadow: 15px 15px 15px rgb(33, 62, 151);
}

.card img{
    height: 250px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Footer ///////////////////////////////////////////////////////////////////////*/
footer{
    min-height: 20vh;
    background: url(../assets/436964.png)no-repeat center center/cover;
    border: 5px black solid;
    position: relative;
}

footer>.container{
    background: linear-gradient( rgba(33, 62, 151, 0.9),rgba(6, 6, 6, 0.6));
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    min-width: 100vw;
    position: absolute;
    color: white;
}