@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=Roboto&display=swap');

body{
    overflow-x: hidden;
}


#logo{
    width: 60px;
    height: 55px;
    margin-right: 25px;
}

.nav-link{
    font-weight: 500;
    color: black;
    font-size: 17px;
}

.navbar-brand{
    font-weight: 600;
    font-family: 'Roboto', sans-serif;
    margin-right: 28%;
}

@media (max-width:426px){
    .navbar-brand{
        margin-right: 0;
        font-weight: 500;
    }
    #logo{
        margin-right: 0;
    }
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Landing Page //////////////////////////////////////////////////////////*/
#landingpg{
    min-height: 100vh;
    background: url(/assets/436964.png) no-repeat center center/cover;
    background-attachment: fixed;
    position: relative;
    min-width: 95vw;
    z-index: 1;
}

#landingpg>#stuff{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(rgba(0, 0, 0, 0.8),rgba(33, 62, 151, 0.4));
    z-index: 2;
}

#landingpg>#stuff>.container{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2;
    min-width: 100vw;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#landingpg>#stuff>.container>h2{
    font-size: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 800;
    font-style: italic;
    color: white;
    text-shadow: 0 0 10px black;
}

#landingpg>#stuff>.container p{
    text-shadow: 0 0 10px black;
    color: white;
    margin-bottom: 0;
    font-style: italic;
    font-size: 19px;
}

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Filter ////////////////////////////////////////////////////////////////*/
#search{
    border-radius: 0;
    width: 250px;
    border: 1px solid black;
}

.btn{
    border: 1px solid black;
    border-radius: 0;
}

#searchbtn{
    color: white;
}

#searchbtn:hover{
    border: 1px solid #5c636a;
    background-color: #5c636a;
}

#filter{
    position: absolute;
    top: 725px;
    left: 20px;
    z-index: 5;
}

#filter>nav{
    border-radius: 200px;
    width: 100%;
    margin-right: 0;
    padding-right: 0;
}

#filter>nav>.row{
    margin-left: 15px;
    border-radius: 200px;

    }

/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ Properties ////////////////////////////////////////////////////////////////*/
#properties{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 35px 35px 35px 35px;
}

.card p{
    margin-bottom: 0;
    border-radius: 0;
}

.card{
    margin-top: 50px;
    height: 450px;
    width: 20em;
}

.card img{
    height: 250px;
}